@page "/"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="DecreaseCount">Click me</button>

@code {
    public static int currentCount = 0;
    public static int gauge = 30;
    public static int observabledown = 5;
    @* public static int  *@

    private void IncrementCount()
    {
        System.Diagnostics.Metrics.Meter luris_meter = new (Meters.myServiceName, "2.0.6");
        Meters.quantity.Add(1); //count
        Meters.histogram_luris.Record(2);//histogram
        Meters.UpDownLuris.Add(2);//updownCounter
        currentCount++;
        gauge =+ 2;
        observabledown =+ 5;
        //using var myActivuty = DiagnosticsTrace.ActionSource.StartActivity("add counter for activity 1");
        
    }

     private void DecreaseCount()
    {
        System.Diagnostics.Metrics.Meter luris_meter = new (Meters.myServiceName, "2.0.6");
        Meters.quantity.Add(1);
        currentCount--;
        gauge =+ 2;
        observabledown =+ 5;
        //using var myActivuty = DiagnosticsTrace.ActionSource2.StartActivity("add counter for activity 2");
    }
}