@page "/"
@using TicketsRUs.ClassLib.Data
@using TicketsRUs.ClassLib.Services
@using TicketsRUs.Maui.Controllers
@inject ITicketService _service
@inject NavigationManager nav
@inject SyncController syncController

<h1>Scan Test</h1>

<h3>TicketWeb_App</h3>

@if (dataLoaded)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">EventId</th>
                <th scope="col">EventName</th>
                <th scope="col">Start-Time</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ev in events)
            {
                <tr>
                    <th scope="row">@ev.Id</th>
                    <th scope="row">@ev.Name</th>
                    <th scope="row">@ev.StartTime</th>
                    <td>
                        <button @onclick="() => HandleEvent(ev.Id)" class="btn btn-primary">Buy</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code
{
    List<AvailableEvent> events = new();
    bool dataLoaded = false;


    protected override async Task OnInitializedAsync()
    {
        while (events.Count == 0)
        {
            events = (await _service.GetAllAvailableEvents()).ToList();
        }
        dataLoaded = true;
    }

    public async Task HandleEvent(int eventId)
    {
        await Task.Run(() => nav.NavigateTo($"/scan/{eventId}"));
    }
}